<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <h1>
        URL SHORTENER
    </h1>
    <form action = "{% url 'index' %}" method="post">
         {% csrf_token %}
        <input type="text" name="longURL" id="longURL">
        <input type="submit">
    </form>
    {% if shortURL %}
    <h2> Your short url is:  {{ shortURL }} </h2>
    {% elif invalid %}
    <h2> {{ invalid }} </h2>
   {% endif %}
    </div>
</body>
</html>